<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ANROIDDEVELOPMENT"
        tools:targetApi="31">
        <activity
            android:name=".RetrofitMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HandlerScoreActivity"
            android:exported="false" />
        <activity
            android:name=".HandlerGameActivity"
            android:exported="false" />
        <activity
            android:name=".HandlerMainActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewMain"
            android:exported="false" />
        <activity
            android:name=".VollyLibrary"
            android:exported="false" />
        <activity
            android:name=".GlideActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".infinitescrolling"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Fragments"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityLifecycle"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SharedPreferences"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".preferencesdatastore"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RoomDatabase"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MVVMmainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MVVMViewModel"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RoomDatabaseMain"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Services"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".LoggerServices"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".BroadCastReciever"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- <receiver android:name=".MyBroad" -->
        <!-- android:directBootAware="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".ContentProvider"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".WorkManager"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NavigationHost"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ThreadsDemo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Coroutines"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SuspendFunctionCoroutines"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CoroutinesBuilders"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CoroutinesJobs"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CoroutinesWithContext"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CoroutinesRunBlocking"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".coroutinesPractice"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FirebaseRealtimeDatabase"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".XMLViewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Spinner"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DarkMode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PopMenu"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BottomSheet"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Flow"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StateFlow"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SharedFlow"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RuntimePermissionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TakingPicture"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ExoPlayer"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EncryptedSharedPreference"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SavedImageMediastore"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ReadImageMediaStore"
            android:exported="false" />
        <activity
            android:name=".SaveVideoMediaStore"
            android:exported="false" />
        <activity
            android:name=".ReadVideoMediaStore"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>